body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(123,45,248);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(12,45,87,0.8);
    box-shadow: 0 0 10px rgba(123,45,190, 0.2);
    border-radius: 8px;
    margin-top: 30px;
}

.header {
    text-align: center;
    margin-bottom:20px;
}
h1 {font-size:20px;
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-stroke: 2px white;} /* Adjust the width and color of the border as needed */

}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f8f8f8;
    border: 11px solid #ccc;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    font-size:18px;
    color:white;
}

.result:hover {
    background-color: #e0e0e0;
}


#totalMonths,
#totalProfitLosses,
#averageChange,
#greatestIncrease,
#greatestDecrease {
    margin-bottom: 10px;
    font-size:20px;
    background: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-stroke: 2px white;} /* Adjust the width and color of the 
border as needed */

}

#totalMonths::before,
#totalProfitLosses::before,
#averageChange::before,
#greatestIncrease::before,
#greatestDecrease::before {
    content: '➤ ';
    color: #4285f4;
}

